.ClaimList {
}

.ClaimList_Filter {
	display: flex;
	justify-content: space-around;
}

.ClaimList .table_section {
	display: flex;
	justify-content: center;
}

.ClaimList table {
	border: 2px solid forestgreen;
	width: 2000px;
}

.ClaimList th {
	border-bottom: 2px solid black;
}

.ClaimList td {
	text-align: center;
}
